{% extends "rest_framework/base.html" %}
{% block title %} MSD Admin {% endblock %}
{% block custom %}
{% if response.data.token %}
{{response.data.token}}
<script>
localStorage.setItem('AuthToken', 'Token {{response.data.token}}');
</script>
{% else %}
<script>
const authtoken = localStorage.getItem('AuthToken');
httpChannel.setRequestHeader("Authorization", authtoken, false);</script>
{% endif %}

{% endblock %}